#!/bin/bash

# Colors
red='\033[0;31m'
blue='\033[0;34m'
green='\033[0;32m'
orange='\033[0;33m'
nc='\033[0m'

env="prod"
branch="master"

user=""
server=""

web_root=""
site=""
serve="/build/app"

fileName="deploy"
outErr=">>$fileName.log"
out=">>$fileName.log 2>&1"

ssh="ssh $user@$server"
cmd="cd $web_root/$site;"

function deploy {
  $ssh "$cmd bash deploy.sh $branch $env" &
  spinner $!
  echo
}

function getLog {
  echo -e "${orange}Grabbing log file...${blue}"
  scp $user@$server:$web_root/$site/$fileName.log ./$fileName.log
  $ssh "$cmd rm $fileName.log"
}

spinner() {
  local pid=$1
  local delay=0.25
  local spinstr='|/-\'
  while [ "$(ps a | awk '{print $1}' | grep $pid)" ]; do
    local temp=${spinstr#?}
    printf " [%c]  " "$spinstr"
    local spinstr=$temp${spinstr%"$temp"}
    sleep $delay
    printf "\b\b\b\b\b\b"
  done
  printf "    \b\b\b\b"
}

if [ ! -z "$1" ]; then
  branch=$1
  if [ ! -z "$2" ]; then
    case $2 in
      "dev" )
        env="dev" ;;
      * )
        env="prod" ;;
    esac
  fi
fi

echo -e "${nc}Remote deploying branch ${green}$branch ${nc}on ${green}$site ${nc}in ${green}$env ${nc}environment..."
echo -e "${nc}"

deploy
getLog

echo -e "${green}"
echo -e "All done. ${nc}"